<div id="bfb" class="element-wrapper">
  <div class="header">
    <h1 class="special">Big Fudgin' Buttons</h1>
    <p>Large Buttons nobody can miss.</p>
  </div>
  <div class="row">
    <div class="col">
      <div class="style-section">
        <div class="row">
          <div class="col-6 col-md-3">
            <a href="javascript:void(0)">
              <button class="btn bfb">
                <i class="bb fas fa-award"></i>
                Notify Work Queue
              </button>
            </a>
          </div>
          <div class="col-6 col-md-3">
            <a href="javascript:void(0)">
              <button class="btn bfb">
                <i class="bb fas fa-atlas"></i>
                Create a Thing
              </button>
            </a>
          </div>
          <div class="col-6 col-md-3">
            <a href="javascript:void(0)">
              <button class="btn bfb">
                <i class="bb fas fa-cat"></i>
                Manage Users
              </button>
            </a>
          </div>
          <div class="col-6 col-md-3">
            <a href="javascript:void(0)">
              <button class="btn bfb">
                <i class="bb fas fa-fish"></i>
                Enrollment Queue
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <!-- button code -->

<pre class="line-numbers"><code class="language-html">&lt;div class="row"&gt;
  &lt;div class="col-md-3"&gt;
    &lt;a href="javascript:void(0)"&gt;
      &lt;button class="btn bfb"&gt;
        &lt;i class="bb fas fa-award"&gt;&lt;/i&gt;
        Notify Work Queue
      &lt;/button&gt;
    &lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="col-md-3"&gt;
    &lt;a href="javascript:void(0)"&gt;
      &lt;button class="btn bfb"&gt;
        &lt;i class="bb fas fa-atlas"&gt;&lt;/i&gt;
        Create a Thing
      &lt;/button&gt;
    &lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="col-md-3"&gt;
    &lt;a href="javascript:void(0)"&gt;
      &lt;button class="btn bfb"&gt;
        &lt;i class="bb fas fa-cat"&gt;&lt;/i&gt;
        Manage Users
      &lt;/button&gt;
    &lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="col-md-3"&gt;
    &lt;a href="javascript:void(0)"&gt;
      &lt;button class="btn bfb"&gt;
        &lt;i class="bb fas fa-fish"&gt;&lt;/i&gt;
        Enrollment Queue
      &lt;/button&gt;
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>


    </div>
  </div>
</div>
<!-- &lt;  &gt; -->
