<div id="buttons" class="element-wrapper">
  <div class="header">
    <h1 class="special">Buttons</h1>
    <p>Buttons are a great way to link to somewhere else on a web page. It gives a user something to click on.</p>
  </div>
  <div class="row">
    <div class="col">
      <div class="style-section">
        <h5 class="section-title">Default size Buttons</h5>
        <button type="button" class="btn btn-blue">Blue</button>
        <button type="button" class="btn btn-green">Green</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-grey">Grey</button>
        <button type="button" class="btn btn-white">White</button>
        <button type="button" class="btn btn-black">Black</button>
        <button type="button" class="btn btn-link">Text Link</button>
      </div>
      <div class="style-section">
        <h5 class="section-title">Large Buttons (add class <code class="language-html">btn-lg</code>)</h5>
        <button type="button" class="btn btn-lg btn-blue">Blue</button>
        <button type="button" class="btn btn-lg  btn-green">Green</button>
      </div>
      <div class="style-section">
        <h5 class="section-title">Small Buttons (add class <code class="language-html">btn-sm</code>)</h5>
        <button type="button" class="btn btn-sm btn-blue">Blue</button>
        <button type="button" class="btn btn-sm  btn-green">Green</button>
      </div>
    </div>
    <div class="col">
        <!-- button code -->

<pre class="line-numbers"><code class="language-html">&lt;button type="button" class="btn btn-blue"&gt;Blue&lt;/button&gt;
&lt;button type="button" class="btn btn-green"&gt;Green&lt;/button&gt;
&lt;button type="button" class="btn btn-danger"&gt;Danger&lt;/button&gt;
&lt;button type="button" class="btn btn-grey"&gt;Grey&lt;/button&gt;
&lt;button type="button" class="btn btn-white"&gt;White&lt;/button&gt;
&lt;button type="button" class="btn btn-black"&gt;Black&lt;/button&gt;
&lt;button type="button" class="btn btn-link"&gt;Text Link&lt;/button&gt;</code></pre>


    </div>
  </div>
</div>
