<div id="type" class="element-wrapper">
  <div class="header">
    <h1 class="special">Typography</h1>
    <p>Default type settings for paragraphs and headings</p>
  </div>
  <div class="row">
    <div class="col">
      <div class="style-section">
        <h1>Heading h1</h1>
        <h2>Heading h2</h2>
        <h3>Heading h3</h3>
        <h4>Heading h4</h4>
        <h5>Heading h5</h5>
        <h6>Heading h6</h6>
      </div>
      <div class="style-section">
        <h1>Typography is an art</h1>
        <p>Toilet paper attack claws fluff everywhere meow miao french ciao litterbox scratch me there, elevator butt mewl for food at 4am cat ass trophy leave fur on owners clothes. Paw at beetle and eat it before it gets away while happily ignoring when being called, for allways wanting food get my claw stuck in the dog's ear. Cats woo dream about hunting birds. Stare at the wall.</p>
      </div>
    </div>
    <div class="col">
        <!-- button code -->

<pre class="line-numbers"><code class="language-html">&lt;h1&gt;Heading h1&lt;/h1&gt;
&lt;h2&gt;Heading h2&lt;/h2&gt;
&lt;h3&gt;Heading h3&lt;/h3&gt;
&lt;h4&gt;Heading h4&lt;/h4&gt;
&lt;h5&gt;Heading h5&lt;/h5&gt;
&lt;h6&gt;Heading h6&lt;/h6&gt;</code></pre>


    </div>
  </div>
</div>
