<div id="alerts" class="element-wrapper">
  <div class="header">
    <h1 class="special">Alerts</h1>
    <p>Alerts are available for any length of text, as well as an optional dismiss button.</p>
  </div>
  <div class="row">
    <div class="col">
      <div class="style-section">
        <div class="row">
          <div class="col-md-6">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Warning!</strong> Please double check to make sure your infomation is correct.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Success!</strong> You have successfully completed the process.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Alert!</strong> Email address is a required field.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <strong>Info!</strong> Please read this important info message or <a class="alert-link" href="#" target="_blank">Click this link</a>.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Use the <code class="language-html">.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <!-- button code -->

<pre class="line-numbers"><code class="language-html">&lt;div class="alert alert-warning alert-dismissible fade show" role="alert"&gt;
  &lt;strong&gt;Warning!&lt;/strong&gt; Please double check to make sure your infomation is correct.
  &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
    &lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;

&lt;div class="alert alert-success alert-dismissible fade show" role="alert"&gt;
  &lt;strong&gt;Success!&lt;/strong&gt; You have successfully completed the process.
  &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
    &lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;

&lt;div class="alert alert-danger alert-dismissible fade show" role="alert"&gt;
  &lt;strong&gt;Alert!&lt;/strong&gt; Email address is a required field.
  &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
    &lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;

&lt;div class="alert alert-primary alert-dismissible fade show" role="alert"&gt;
  &lt;strong&gt;Info!&lt;/strong&gt; Please read this important info message or &lt;a class="alert-link" href="#" target="_blank"&gt;Click this link&lt;/a&gt;.
  &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
    &lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;</code></pre>


    </div>
  </div>
</div>
<!-- &lt;  &gt; -->
