<div id="inputs" class="element-wrapper">
  <div class="header">
    <h1 class="special">Inputs</h1>
    <p>Default type settings for paragraphs and headings</p>
  </div>

  <div class="style-section">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="styleGuide-phone1">Label</label>
              <input type="tel" class="form-control" maxlength="12" placeholder="Placeholder Text" id="styleGuide-phone1">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
<pre class="line-numbers"><code class="language-html">&lt;div class="form-group"&gt;
  &lt;label for="styleGuide-phone1"&gt;Label&lt;/label&gt;
  &lt;input type="tel" class="form-control" maxlength="12" placeholder="Placeholder Text" id="styleGuide-phone1"&gt;
&lt;/div&gt;

&lt;div class="form-group"&gt;
  &lt;label for="exampleFormControlTextarea1"&gt;Example textarea&lt;/label&gt;
  &lt;textarea class="form-control" id="exampleFormControlTextarea1" rows="3"&gt;&lt;/textarea&gt;
&lt;/div&gt;</code></pre>
      </div>
    </div>
  </div>
  <div class="style-section">
    <h2>Select Options</h2>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="inputGroupSelect01">Select One</label>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
<pre class="line-numbers"><code class="language-html">&lt;div class="form-group"&gt;
  &lt;label for="inputGroupSelect01"&gt;Select One&lt;/label&gt;
  &lt;select class="custom-select" id="inputGroupSelect01"&gt;
    &lt;option selected&gt;Choose...&lt;/option&gt;
    &lt;option value="1"&gt;One&lt;/option&gt;
    &lt;option value="2"&gt;Two&lt;/option&gt;
    &lt;option value="3"&gt;Three&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt;

&lt;div class="input-group mb-3"&gt;
  &lt;input type="text" class="form-control" placeholder="Search" aria-label="Search"&gt;
  &lt;div class="input-group-append"&gt;
    &lt;button class="btn btn-outline-secondary" type="button"&gt;Search&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
      </div>
    </div>
  </div>
</div>
<!-- &lt; &gt; -->
