<div id="leftNav">
  <div class="adLogo">
    <img src="images/atomic-design.svg" width="100%" alt="Atomic Design">
    <h4 class="special">Atomic Design</h4>
  </div>
  <ul>
    <li class="apex">Atoms
      <ul class="sub">
        <a href="#type">
          <li>Typography</li>
        </a>
        <a href="#buttons">
          <li>Buttons</li>
        </a>
        <a href="#alerts">
          <li>Alerts</li>
        </a>
        <a href="#inputs">
          <li>Inputs</li>
        </a>
        <a href="#date">
          <li>Date Picker</li>
        </a>
      </ul>
    </li>
    <li class="apex">Molecules
      <ul class="sub">
        <a href="#nav">
          <li>Navbar</li>
        </a>
        <a href="#accordion">
          <li>Accordion</li>
        </a>
        <a href="#cards">
          <li>Cards</li>
        </a>
        <a href="#modal">
          <li>Modal</li>
        </a>
        <a href="#bfb">
          <li>Big Button Screen</li>
        </a>
        <a href="#tables">
          <li>Tables</li>
        </a>
      </ul>
    </li>
    <li class="apex">Organisms
      <ul class="sub">
        <li>Header</li>
        <li>Wizard</li>
        <li>Footer</li>
      </ul>
    </li>
  </ul>
</div>
